h1= title
#warbles
    - each warble in warbles
      div.warble
        div.header
          table
            thead
            tbody
              tr
                td(width='70%')
                  div.creator= warble.creator
                td(width='*')
                  div.created_at= warble.created_at
        div.body
          table
            thead
            tbody
              tr
                td(width='100%', valign='TOP')
                  div.text= warble.body
                td(width=24, valign='BOTTOM')
                  div.controls
                    div.reply
                      a(href='Warble/reply/#{warble._id}')
                        img(src="images/reply.png", title='Reply', width=24, height=24)
                    div.delete
                      a(href='Warble/delete/#{warble._id}')
                        img(src="images/trash.png", width=24, title='Delete', height=24)

<p align="left"><a href="Warble/new">New warble</a></p>
<p align="left"><a href="Warble/user/new">New user</a></p>
<p align="left"><a href="Warble/user/update">Update user</a></p>